@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Playfair+Display&display=swap');

body {
    min-height: 100vh;
    margin:0;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    min-height:50px;
}

article {
    flex:1;
}

footer {
    min-height:50px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}